@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("performLogin", "Home", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        Email: @Html.TextBox("Username")
    </div>
    <div class="form-group">
        Password: @Html.Password("Password")
    </div>

    <div class="footer">
        <input type="submit" value="Login" />
    </div>
}